<h1>Listing Articles</h1>

<% @articles.each do |article| %>
  <div class="article">
    <h2><%= link_to article.title, article %></h2>
    <p><%= article.body %></p>
  </div>
<% end %>

<div id="pagination">
  <%= (@articles_count / @per_page).times do |page| %>
  <% actual_page = page + 1 %>
  <%= link_to actual_page, root_path(:page => actual_page) %>
  <% end %>
</div>