<h1>Listing Articles</h1>

<% @articles.each do |article| %>
  <div class="article">
    <h2><%= link_to "#{article.id} - #{article.title}", article %></h2>
    <p><%= article.body %></p>
  </div>
<% end %>

<%= will_paginate @articles %>